In [2]:
# Cuáles programas recomiendan los que trabajan vs los que no
# Cuáles programas recomiendan los más estudiados

# Usos de cloud vs local Q11
# ML algorithms used Q17

# Company size Q20 and ds workload individuals Q21
# Salary Q24

# About your deployments Q36
# Online courses to learn DS Q37

# Primary tool to analize data Q38
# and which BI tools do you use (relacionar con la anterior) Q32
# and las que esperas aprender en the next 2 years Q31-B

In [3]:
import pandas as pd

In [65]:
kaggle = pd.read_csv('./kaggle_survey_2020_responses.csv')
kaggle.head()

/home/anferben/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q35_B_Part_2,Q35_B_Part_3,Q35_B_Part_4,Q35_B_Part_5,Q35_B_Part_6,Q35_B_Part_7,Q35_B_Part_8,Q35_B_Part_9,Q35_B_Part_10,Q35_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,1838,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN
2,289287,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,860,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,507,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
kaggle.Q31_A_Part_1.head(1)

0    Which of the following business intelligence t...
Name: Q31_A_Part_1, dtype: object

In [67]:
# Checking for missing data

# Selecting the relevant columns for the analysis
columns = ['Q3', 'Q20', 'Q21', 'Q24', 'Q31_A_Part_1', 'Q38', 'Q31_B_Part_1']

kaggle[columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20037 entries, 0 to 20036
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Q3            20037 non-null  object
 1   Q20           11404 non-null  object
 2   Q21           11283 non-null  object
 3   Q24           10730 non-null  object
 4   Q31_A_Part_1  173 non-null    object
 5   Q38           13291 non-null  object
 6   Q31_B_Part_1  3144 non-null   object
dtypes: object(7)
memory usage: 1.1+ MB

In [68]:
kaggle.Q5.unique()

array(['Select the title most similar to your current role (or most recent title if retired): - Selected Choice',
       'Student', 'Data Engineer', 'Software Engineer', 'Data Scientist',
       'Data Analyst', 'Research Scientist', 'Other',
       'Currently not employed', 'Statistician',
       'Product/Project Manager', 'Machine Learning Engineer', nan,
       'Business Analyst', 'DBA/Database Engineer'], dtype=object)

In [76]:
# cantidad de encuestados que usan un determinado lenguaje de programación a diario
professions = ['Business Analyst', 'Data Analyst', 'Data Engineer', 'Data Scientist']
program_ds = kaggle[kaggle.Q5.isin(professions)]
program_ds.Q5.unique()

array(['Data Engineer', 'Data Scientist', 'Data Analyst',
       'Business Analyst'], dtype=object)

In [77]:
program_lang = kaggle_ds.loc[:, 'Q7_Part_1':'Q7_Part_11']
program_lang.notnull().sum()

Q7_Part_1     4483
Q7_Part_2     1748
Q7_Part_3     3005
Q7_Part_4      464
Q7_Part_5      572
Q7_Part_6      571
Q7_Part_7      600
Q7_Part_8       94
Q7_Part_9       38
Q7_Part_10     606
Q7_Part_11     439
dtype: int64

In [78]:
# cuántos de los que usan R usan Python también?
R_and_P = program_lang[program_lang.Q7_Part_2.notnull() == True].Q7_Part_1.notnull().sum()
R_and_P / program_lang.Q7_Part_2.notnull().sum()

0.8375286041189931

In [79]:
# cuántos de los que usan Pythono usan R también?
P_and_R = program_lang[program_lang.Q7_Part_1.notnull() == True].Q7_Part_2.notnull().sum()
P_and_R / program_lang.Q7_Part_1.notnull().sum()

0.32656703100602275

In [17]:
professions = ['Business Analyst', 'Data Analyst', 'Data Engineer', 'Data Scientist']
kaggle_ds = kaggle[kaggle.Q5.isin(professions)]
kaggle_ds.Q5.unique()

array(['Data Engineer', 'Data Scientist', 'Data Analyst',
       'Business Analyst'], dtype=object)

In [18]:
pd.crosstab(kaggle_ds.Q5, kaggle_ds.Q38)

Q38,"Advanced statistical software (SPSS, SAS, etc.)","Basic statistical software (Microsoft Excel, Google Sheets, etc.)","Business intelligence software (Salesforce, Tableau, Spotfire, etc.)","Cloud-based data software & APIs (AWS, GCP, Azure, etc.)","Local development environments (RStudio, JupyterLab, etc.)",Other
Q5,,,,,,
Business Analyst,37,247,101,20,159,19
Data Analyst,101,326,190,34,418,27
Data Engineer,16,62,37,60,140,22
Data Scientist,137,291,104,173,1386,106